This code prints my name with initializing two variables of int type i.e "a" and "b"

In [ ]:
print("Jawad Jan")
a=5
b=6

Jawad Jan

**Addition**

This code adds two variables already initialized with value i.e "a" and "b"

In [ ]:
a+b

11

**Division**

This code Divides two variables already initialized with value i.e "a" and "b"

In [ ]:
a/b

0.8333333333333334

**Multiplication**

This code Multiplies two variables already initialized with value i.e "a" and "b"

In [ ]:
a*b

30

**Subtraction**

This code subtracts two variables already initialized with value i.e "a" and "b"

In [ ]:
a-b

-1

**Jawad** **Jan**

This is a simple name written of me told by Mam!