**Matplotlib**

**Numpy**

**List**

In [ ]:
list = [14,28,34,4,32,34,98,50,9,10]
sum = 0
for num in list:
  print(num)
  sum+=num
print("Sum:",sum)
print("Maximum:",max(list))
print("Minimum:",min(list))
print("Ascending:",sorted(list))
print("Descending",sorted(list,reverse=True))

14
28
34
4
32
34
98
50
9
10
Sum: 313
Maximum: 98
Minimum: 4
Ascending: [4, 9, 10, 14, 28, 32, 34, 34, 50, 98]
Descending [98, 50, 34, 34, 32, 28, 14, 10, 9, 4]

**Tuple**

In [1]:
mobiles= ("Samsung","Iphone","Xiaomi","Oppo","Vivo")
print("2nd element:",mobiles[1])
print("Last element:",mobiles[-1])
new_mobiles = list(mobiles)
print("New",new_mobiles)

2nd element: Iphone
Last element: Vivo
New ['Samsung', 'Iphone', 'Xiaomi', 'Oppo', 'Vivo']

**Set**

In [3]:
set1 = {23,4,66,88,44,8,878,676}
set2 = {34,45,68,6,23,4,54,765,87,43634,536,3,43,66,23}
print("Union:",set1.union(set2))
print("Intersection:",set1.intersection(set2))
set1.add(75)
set2.remove(765)
print("Set1:",set1)
print("Set2:",set2)

Union: {66, 3, 4, 68, 6, 8, 23, 88, 536, 87, 34, 676, 43, 44, 45, 878, 43634, 54, 765}
Intersection: {66, 4, 23}
Set1: {66, 676, 4, 8, 75, 44, 878, 23, 88}
Set2: {34, 3, 68, 4, 6, 66, 43, 45, 43634, 54, 23, 536, 87}

**Dictionary**

In [7]:
student = {"Name":"Jawad", "CGPA" : 3.91, "Roll no.":113, "Age": 22}
print(student)
student.update({"Age": 23})
print(student)

{'Name': 'Jawad', 'CGPA': 3.91, 'Roll no.': 113, 'Age': 22}
{'Name': 'Jawad', 'CGPA': 3.91, 'Roll no.': 113, 'Age': 23}